.App {
  text-align: center;
}

.label {
  font-size: 18px;
  font-weight: bold;
}

.input {
  padding: 5px;
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  margin-right: 5px;
  font-size: 10px;
  border-radius: 5px;
}

.result {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  margin-right: -40px;
}
